:root {
    --main-color: #2196f3;
}

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.game {
    background-color: #eee;
    min-height      : 100vh;
}

.container {
    margin   : auto;
    max-width: 900px;
}

.name {
    background-color: var(--main-color);
    color           : white;
    padding         : 20px;
    font-size       : 25px;
    text-align      : center;
    font-weight     : bold;
}

.message {
    background-color: white;
    padding         : 15px;
    margin          : 15px 0;
    border-radius   : 6px;
    text-align      : center;
    display: flex;
    flex-direction: column;
}

.message .setting{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.message select, input{
    font-size: 16px;
    padding: 5px;
    color: royalblue;
    border-radius: 5px;
    cursor: pointer;
    min-width: 230px
}

.message span {
    font-weight: bold;
    color      : #009688;
}

.message span::before {
    content: "[ ";
}

.message span::after {
    content: " ]";
}

.buttons{
    display: flex;
    gap: 15px;
}

.buttons div{
    font-size       : 20px;
    font-weight     : bold;
    text-align      : center;
    color           : white;
    padding         : 20px;
    cursor          : pointer;
    user-select: none;
    flex-basis: 100%;
    transition: 0.2s;
}

.buttons div:hover{
    transform: scale(1.02)
}

.start {
    background-color: #009688;
}

.restart {
    background-color: rebeccapurple;
    display: none;
}

.exit {
    background-color: rgb(153, 73, 51);
    display: none;
}

.the-word {
    text-align : center;
    font-weight: bold;
    font-size  : 60px;
    color      : var(--main-color);
    user-select: none;
}

.test-input {
    margin        : 15px 0;
    width         : 100%;
    display       : block;
    padding       : 15px;
    border        : 3px solid var(--main-color);
    font-size     : 20px;
    text-align    : center;
    text-transform: capitalize;
    border-radius : 6px;
    caret-color   : var(--main-color);
}

.test-input:focus {
    outline: none;
}

.upcoming-words {
    background-color: white;
    margin          : 15px 0;
    padding         : 15px;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
}

.upcoming-words div {
    background-color: var(--main-color);
    color           : white;
    font-weight     : bold;
    margin          : 4px;
    padding         : 10px;
    border-radius   : 6px;
}

.control {
    display         : flex;
    justify-content : space-between;
    background-color: white;
    padding         : 15px;
}

.control span {
    font-weight: bold;
    color      : #009688;
}

.finish {
    font-weight: bold;
    font-size  : 40px;
    text-align : center;
    padding    : 15px;
}

.finish .good {
    color: green;
}

.finish .bad {
    color: red;
}